body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header:hover{
  background-color:#635654;
  color:#fff;
}
.logoButton:hover{
cursor:pointer;
}
.film:hover{
  cursor: pointer;
  background:#000;
  opacity: 80%;
}
.marginArrow::after{
  margin-top: 1.1rem;
  margin-left: 1rem;
  color:black;
}
.noBorder::after{
  border:0;
}
.marginSortArrow::after{
margin-top: 0.7rem;
margin-left: 1rem;
}